configuration {
    display-ssh:    "ssh:";
    display-run:    "run:";
    display-drun:   "drun:";
    display-window: "window:";
    display-combi:  "combi:";
    display-filebrowser: "filebrowser:";
    display-recursivebrowser: "recursivebrowser:";
    display-keys: "keys:";
    dpi: 120;
}

@theme "one-squared-dark"
