* {
    listview {
        lines: 10;
        columns: 1;
        fixed-height: 2;
    }

    element {
        icon: 1;
    }

    preview {
        enabled: true;
        location: top;
        valign: center;
        halign: center;
    }

    window {
        width: 50%;
        height: 70%;
    }
}
